<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="./underscore.js"></script>
<script type="text/template" id="tpl">
    <ul class="list">
        <% obj.forEach(function(e, i, a){ %>
            <% if( i === a.length-1){ %>
                <li class="last-item"><%=e.name%></li>
            <% } else {%>
                <li><%=e.name%></li>
        <%}})%>
    </ul>
</script>
<body>
    <div class="content"></div>
</body>
<script>
    //数据
    var data = [{
        name: "ys"
    }, {
        name: "YS"
    }]

    var templateString = document.getElementById('tpl').innerHTML
    var compiled = _.template(templateString)
    var renderString = compiled(data)
    document.querySelector("div").innerHTML = renderString
</script>
<body>
</body>
</html>
